default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

development:
  <<: *default
  database: find-project_development

test:
  <<: *default
  database: find-project_test

production:
  <<: *default
  database: find-project_production
  username: find-project
  password: <%= ENV['FIND-PROJECT_DATABASE_PASSWORD'] %>
